# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scatterplot.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity Projects\PhD\Data Vis\Scatterplot\.idea\.idea.Scatterplot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
